<ion-view title="{{trip.title}}">

  <style>
  .scroll {
    height: 100%;
  }
  </style>

  <ion-content class="has-header">
    <div id="map" data-tap-disabled="true" style="width:100%;height:100%;"}></div>
  </ion-content>
  <!-- <ion-footer-bar class="bar-dark">
      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
    </ion-footer-bar> -->

  <div class="tabs-striped tabs-bottom tabs-background-stable tabs-color-positive">
    <div class="tabs tabs-icon-top">
      <a class="tab-item" ng-href="#/app/trips/{{trip.id}}">
        <i class="icon ion-home"></i>
        Home
      </a>
      <a class="tab-item" ng-href="#/app/trips/{{trip.id}}/album">
        <i class="icon ion-images"></i>
        Album
      </a>
      <a class="tab-item active" ng-href="#/app/trips/{{trip.id}}/map">
        <i class="icon ion-location"></i>
        Map
      </a>
      <a class="tab-item" ng-href="#/app/trips/{{trip.id}}/camera">
        <i class="icon ion-camera"></i>
        Photo
      </a>
    </div>
  </div>

</ion-view>
