<ion-side-menus enable-menu-with-back-views="true" expose-aside-when="large">
  <ion-side-menu-content>
    <!-- <ion-nav-back-button>
    </ion-nav-back-button> -->

    <ion-nav-bar class="bar-stable">

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-hide="$exposeAside.active">
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>


    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" scroll='false'>
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <a class="item item-avatar" ng-href="#/app/trips">
          <img ng-src="{{profilePic}}">
          <h3>{{user.name}}</h3>
          <h3>{{user.surname}}</h3>
          <p>{{user.email}}</p>
          <!-- <button class="button button-outline button-small button-positive" ng-click="doLogout()" ng-if="user">Logout</button> -->
          <!-- <button class="button button-outline button-small button-positive" ng-click="login()" ng-if="!user">Login</button> -->
        </a>
        <ion-item menu-close ng-href="#/app/trips">
          Trips
        </ion-item>
        <ion-item menu-close ng-href="#/app/photos">
          All photos
        </ion-item>
        <!-- <ion-item menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item menu-close ng-click="signup()">
          Signup
        </ion-item> -->
        <!-- <ion-item menu-close ng-click="doLogout()">
          Logout
        </ion-item> -->
      </ion-list>
    </ion-content>

    <ion-footer-bar class="no-padding">
      <button class="button button-outline button-full button-large icon-right ion-log-out button-positive no-margin"
              ng-click=doLogout()
              ng-if='user'>Logout</button>
      <button class="button button-outline button-full button-large icon-right ion-log-in button-positive no-margin"
              ng-click=login()
              ng-if='!user'>Login</button>
    </ion-footer-bar>

  </ion-side-menu>
</ion-side-menus>
