<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Sign Up</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeSignup();closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="signup" ng-submit="doSignup(signup)">
      <div class="list">

        <!-- <label class="item item-input" ng-class="{ 'has-error' : signup.email.$invalid}">
          <span class="input-label">Email</span>
          <input type="text" ng-model="loginData.email" name="email" ng-minlength="5" ng-maxlength="10" required>
        </label>
        <div class="form-errors" ng-messages="signup.email.$error" ng-messages-include="templates/form-errors.html">
                <div class="form-error" ng-message="maxlength">This field is must be less than 10 characters</div>
        </div> -->

        <label class="item item-input" ng-class="[{ 'has-error' : signup.email.$invalid }, { 'valid' : !signup.email.$invalid }]">
          <span class="input-label">Email</span>
          <input type="email" ng-model="loginData.email" name="email" required>
        </label>
        <div class="form-errors" ng-messages="signup.email.$error" ng-messages-include="templates/form-errors.html"></div>

        <label class="item item-input" ng-class="[{ 'has-error' : signup.password.$invalid }, { 'valid' : !signup.password.$invalid }]">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password" name="password" required ng-minlength="5">
        </label>
        <div class="form-errors" ng-messages="signup.password.$error" ng-messages-include="templates/form-errors.html"></div>

        <label class="item item-input" ng-class="[{ 'has-error' : signup.name.$invalid }, { 'valid' : !signup.name.$invalid }]">
          <span class="input-label">Name</span>
          <input type="text" ng-model="loginData.name" name="name" required>
        </label>
        <!-- <div class="form-errors" ng-messages="signup.name.$error" ng-messages-include="templates/form-errors.html"></div> -->

        <label class="item item-input" ng-class="[{ 'has-error' : signup.surname.$invalid }, { 'valid' : !signup.surname.$invalid }]">
          <span class="input-label">Surname</span>
          <input type="text" ng-model="loginData.surname" name="surname" required>
        </label>
        <!-- <div class="form-errors" ng-messages="signup.surname.$error" ng-messages-include="templates/form-errors.html"></div> -->

        <label class="item item-input">
          <span class="input-label">Birthday</span>
          <input type="date" ng-model="loginData.birthday">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Gender
          </div>
          <select ng-model="loginData.gender">
            <option value='male'>Male</option>
            <option value='female'>Female</option>
          </select>
        </label>
        <ion-checkbox class="item item-checkbox" ng-model="loginData.privacy">
          <span>Privacy</span>
        </ion-checkbox>
        <label class="item">
          <button class="button button-block button-positive" type="submit" id="btnSignUp">Registrati</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
