<ion-view title="{{trip.title}}">

  <ion-nav-buttons side="right">
    <!-- nascondo il checkbox per abilitare le modifiche se è un nuovo trip o se non sono l'amministratore del viaggio -->
    <label class="toggle toggle-positive"  ng-hide='newTrip+!imAdmin'>
      <input type="checkbox" ng-model='$parent.editable'>
      <div class="track">
        <div class="handle"></div>
      </div>
    </label>
  </ion-nav-buttons>

  <ion-content padding="true" class="has-header has-footer">
        <form ng-submit="createTrip()">
            <label class="item item-input">
              <i class="icon ion-paper-airplane placeholder-icon positive"></i>
                <span class="input-label">Trip Title</span>
                <input type="text" ng-model="trip.title" ng-disabled="!editable">
            </label>

            <div class="spacer" style="width: 300px; height: 26px;"></div>

            <label class="item item-input" ng-if="true">
            <!-- ng-if="!editable"> -->
                <i class="icon ion-location placeholder-icon positive"></i>
                <span class="input-label">Where</span>
                <input type="search" ng-model="trip.where" ng-disabled="!editable">
            </label>

            <!-- ng-controller con lista google -->
            <!-- <label class="item item-input"> -->
                <!-- <i class="icon ion-location placeholder-icon positive"></i> -->
                <!-- <span class="input-label">Where</span> -->
            		<ui-select ng-model="address.selected"
                         reset-search-input="false"
                         style="width: 100%; display:inline-block;"
                         ng-model="trip.where"
                         ng-if="false">
                         <!-- ng-if="editable"> -->
            			<ui-select-match placeholder="Where...">{{$select.selected.formatted_address}}</ui-select-match>
            			<ui-select-choices 	repeat="address in addresses track by $index"
            								refresh="refreshAddresses($select.search)"
            								refresh-delay="100">
            								<div ng-bind-html="address.formatted_address | highlight: $select.search"></div>
            			</ui-select-choices>
            		</ui-select>
            <!-- </label> -->

            <div class="spacer" style="width: 300px; height: 26px;"></div>

            <label class="item item-input">
              <i class="icon ion-calendar placeholder-icon positive"></i>
              <span class="input-label">Dates</span>
              <input date-range-picker class="date-picker span" type="text" ng-model="datePicker.date" options="options" ng-disabled="!editable">
            </label>

            <div class="list card">
                <div class="item item-stable item-button-right">
            Trip Mates
            <a class="button button-positive button-clear" ng-href="#/app/trips/{{tripId}}/friends" ng-disabled="!editable">Edit</a>
            </div>
                <div class="item item-body">
                    <ion-list>
                        <!-- me -->
                        <ion-item class="item-avatar-left" ng-if='newTrip'>
                            <img ng-src="{{profilePic}}">
                            <span class="item-note">
                              Admin
                            </span>
                            <h2>{{user.name}} {{user.surname}}</h2>
                            <!-- <p>{{user.other}}</p> -->
                        </ion-item>
                        <!-- my friends -->
                        <ion-item ng-repeat="mate in mates | orderBy:'surname' | myMates:trip.mates"
                                  class="item-avatar-left" >
                            <img ng-src="{{mate.url}}" ng-if='mate.url'>
                            <img ng-src="img/avatar.png" ng-if='!mate.url'>
                            <!-- ng-if se è amministratore -->
                            <span class="item-note" ng-if="trip.admin==mate.$id">
                              Admin
                            </span>
                            <h2>{{mate.name}} {{mate.surname}}</h2>
                            <!-- <p>{{friend.other}}</p> -->
                        </ion-item>
                    </ion-list>
                </div>
            </div>

            <button class="button button-block button-positive" type="submit" id="btnCreateTrip" ng-show='newTrip'>Create Trip</button>
        </form>

    </ion-content>

    <div ng-include src="'templates/tab-bar.html'"></div>

</ion-view>
